
@font-face {
  font-family: 'Bebas Neue';
  src: url('/fonts/BebasNeue-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Inter';
  src: url('/fonts/Inter-VariableFont_opsz,wght.ttf') format('truetype');
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

$font-title: 'Bebas Neue', sans-serif;
$font-text: 'Inter', sans-serif;
$background-white: #F8F9FA;
$color-red: #E63946;
$color-darkblue: #1D3557;
$color-lightblue: #157B9D;
