@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

$font-title: 'Bebas Neue', sans-serif;
$font-text: 'Inter', sans-serif;
$background-white: #F8F9FA;
$color-red: #E63946;
$color-darkblue: #1D3557;
$color-lightblue: #157B9D;
